{
    "presets": [
        [
            "env",
            {
                "useBuiltIns": true,
                "targets": {
                    "node": "8.9.4"
                },
            }
        ]
    ],
}